// Place all the styles related to the items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$grey:  #DADADA;
.op{
  opacity: 0.5;
}

.uncomplete{
  color: red;
  opacity: 0.5;
}

.dec{
  text-decoration: line-through;
}

.dec-uncomplete{
  a{
    text-decoration: line-through;
    color: red;
    opacity: 0.5;
  }

  a:hover{
    color: red;
  }
}
